# Frontend
/insomnia_keeper_flutter/*.class
/insomnia_keeper_flutter/*.log
/insomnia_keeper_flutter/*.pyc
/insomnia_keeper_flutter/*.swp
/insomnia_keeper_flutter/.DS_Store
/insomnia_keeper_flutter/.atom/
/insomnia_keeper_flutter/.buildlog/
/insomnia_keeper_flutter/.history
/insomnia_keeper_flutter/.svn/
/insomnia_keeper_flutter/*.iml
/insomnia_keeper_flutter/*.ipr
/insomnia_keeper_flutter/*.iws
/insomnia_keeper_flutter/.idea/
/insomnia_keeper_flutter/**/doc/api/
/insomnia_keeper_flutter/**/ios/Flutter/.last_build_id
/insomnia_keeper_flutter/.dart_tool/
/insomnia_keeper_flutter/.flutter-plugins
/insomnia_keeper_flutter/.flutter-plugins-dependencies
/insomnia_keeper_flutter/.packages
/insomnia_keeper_flutter/.pub-cache/
/insomnia_keeper_flutter/.pub/
/insomnia_keeper_flutter/build/
/insomnia_keeper_flutter/lib/generated_plugin_registrant.dart
/insomnia_keeper_flutter/app.*.symbols
/insomnia_keeper_flutter/app.*.map.json
/insomnia_keeper_flutter/android/app/debug
/insomnia_keeper_flutter/android/app/profile
/insomnia_keeper_flutter/android/app/release


# Backend
db.sqlite3
/media/
/insomnia_main/media/
/venv/
/server/venv/
/server/secrets/
/db.sqlite3-journal
/django-log.txt
/uwsgi-log.txt
/.idea/